<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assert/css/bootstrap.css">
    <!--en este descargamos los archivos compilados y solo pego las hojas de estilo-->
    <link rel="stylesheet" type="text/css" href="../assert/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/5e8f2c7b17.js" crossorigin="anonymous"></script>
    <title>Index/animalandia</title>
</head>
<body>
  <div class="container-fluid mt-2">
    <header class="row">
        <div class="header-logo col-12 col-md-5 col-xl-3">
            <img src="../assert/img/logo.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-md-2 col-xl-6 "> </div>
        <div class="col-12 col-md-5 col-xl-3  justify-content-around text-center">
          <button type="button" class="btn btn-outline-primary"><img src="../assert/img/login.svg"><a href="login.html">Ingresar</a></button>
            <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-user-plus"></i>Registrarse</button>
        </div>
    </header>

</div>
<nav class="navbar navbar-expand-lg  minav">
<div class="container-fluid">
<a class="navbar-brand" href="index.html"><i class="fa-solid fa-paw"></i></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span><i class="fa-solid fa-grip-lines"></i></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="equipo.html">Equipo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="servicios.html">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contactanos.html">Contactanos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tip.html">Tips</a>
    </li>
  
  </ul>
</div>
</div>
</nav>
<img src="../assert/img/bannerconta.png" width="100%">
<div class="mt-5 mb-2">
<H3 class="text-center">CONTACTANOS</H3>
</div>
<div class="container-fluid mt-4 ">
  <div class="row">

      <div class="micard-contact  card col-12 col-md-6 col-xl-3 border-0 align-items-center style=" width: 8rem;>
          <img src="../assert/img/Phone.png " class="mi-img-card  rounded-circle" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Lineas nacionales</h5>
          <ul>
            <li>Bogotá: 323 4567 / 403 9892</li>
            <li>Cali: 423 4567 / 903 9892</li>
            <li>Medellin: 783 4567 / 983 9892</li>
          </ul>
            
          </div>
        </div>

        <div class="micard-contact  card col-12 col-md-6 col-xl-3 border-0 align-items-center style=" width: 8rem;>
          <img src="../assert/img/whatsapp.png" class="mi-img-card  rounded-circle" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Lineas nacionales</h5>
          <ul>
            <li>Bogotá: 301 823 4567 / 312 403 989</li>
            <li>Cali: 321 823 4567 / 313 983 9892</li>
            <li>Cali: 321 823 4567 / 313 983 9892</li>
          </ul>
            
          </div>
        </div>

        <div class="micard-contact  card col-12 col-md-6 col-xl-3 border-0 align-items-center style=" width: 8rem;>
          <img src="../assert/img/location.png" class="mi-img-card  rounded-circle" alt="...">
          <div class="card-body">
             <h5 class="card-title text-center">Puedes encontrarnos en:</h5>
            <ul>
              <li>Bogotá: Calle 3 #54-78 / Calle 123 #12-89</li>
              <li>Cali: Carrera 7 #45-78 / Calle 12 #32-65</li>
              <li>Medellin: Calle 56 #23-67 / Carrera 67a #23-98</li>
            </ul>
            
          </div>
      </div>
      <div class="micard-contact  card col-12 col-md-6 col-xl-3 border-0 align-items-center style=" width: 8rem;>
        <img src="../assert/img/mail.png" class="mi-img-card  rounded-circle" alt="...">
        <div class="card-body">
     
          <h5 class="card-title text-center">Solicitudes o ventas</h5>
          <ul>
            <li>Bogotá: Servicios_bog@animalandia.com</li>
            <li>Cali: Servicios_cali@animalandia.com</li>
            <li>Medellin: Servicios_med@animalandia.com</li>
          </ul>
          
        </div>
    </div>

    <div class="escribenos">

    <div class="mt-5 mb-2">
      <H3 class="text-center">ESCRIBENOS</H3>
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre y apellido">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="correo" placeholder="Escribe tu correo">
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Escribe tu numero">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="misummit"><input class="btn btn-light" type="submit" value="Enviar"></div>
      </div>
     
    </div>
    
    <footer>
            
      <div class="mifooter container-fluid p-0">
          <div class="row pt-4 m-0 justify-content-around text-center">

              <div class="col-12 col-md-4 col-xl-4 ">
                  <img src="../assert/img/sede.png" alt="icono edificio">
                  <h5>Sedes</h5>
                  <p>
                      <b>Bogotá</b> <br>
                      Sede Suba <br>
                      Sede Timiza <br>
                      Sede Gaitana <br>
                  </p>
              </div>
  
              <div class="col-12 col-md-4 col-xl-4">
                  <img src="../assert/img/sede.png" alt="icono edificio">
                  <h5>Sedes</h5>
                  <p>
                    <b>Cali</b><br>
                      Sede Centenario <br>
                      Limonar <br>
                      El peñon <br>
                  </p>
              </div>
  
              <div class="col-12 col-md-4 col-xl-4">
                  <img src="../assert/img/sede.png" alt="icono edificio">
                  <h5>Sedes</h5>
                  <p>
                    <b>Medellin</b><br> 
                      Prado <br>
                      Belén <br>
                      Santo Domingo <br>
                  </p>
              </div>
  
          </div>
      </div>
  </footer>

  <script src="../assert/js/bootstrap.js"></script>
</body>
</html>