<!DOCTYPE html>
<html lang="es-Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assert/css/bootstrap.css">
    <!--en este descargamos los archivos compilados y solo pego las hojas de estilo-->
    <link rel="stylesheet" type="text/css" href="../assert/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/5e8f2c7b17.js" crossorigin="anonymous"></script>
    <title>Index/animalandia</title>
</head>
<body>
    <div class="container-fluid mt-2">
        <header class="row">
            <div class="header-logo col-12 col-md-5 col-xl-3">
                <img src="../assert/img/logo.jpg" class="img-fluid">
            </div>
            <div class="col-12 col-md-2 col-xl-6 "> </div>
            <div class="col-12 col-md-5 col-xl-3  justify-content-around text-center">
                <button type="button" class="btn btn-outline-primary"><img src="../assert/img/login.svg"><a href="index.html">Salir</a></button>
                <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-user-plus"></i>Registrarse</button>
            </div>
        </header>
    </div>
    <div class="box-milog">

        
            <img src="../assert/img/paw_print.png">
         
         
          <div class="mb-3">
            
            <input type="text" class="form-control" id="correo" placeholder="Numero de identidad"><br>
            <input type="password" class="form-control" id="correo" placeholder="Contraseña"><br>
            <button type="button" class="btn btn-outline-primary"><a href="dashboard/clientes.html">Ingresar</a></button>
            
          </div>
         
         
         
        </div>
<script src="../assert/js/bootstrap.js"></script>
</body>
</html>